body {
    background: rgb(228, 228, 253);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-height: 10%;
    background-color: rgb(106, 2, 111);
}

.signup-page{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.signup-box {
    display: flex;
    flex-direction: column;
    background-color: rgb(220, 218, 218);
    padding: 20px;
    border-radius: 5px;
    border: 1px solid gray;
    margin: 50px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-input {
    margin: 4px;
    width: 300px;
    height: 25px;
}

.submit-button {
    margin: 4px;
    width: 150px;
    height: 25px;
}

.allusers-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.allusers-display {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
}

#logged-in {
    color: red;
}

.header-text {
    color: white;
    font-size: 20px;
}